*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    
}
body{
    background:linear-gradient(90deg, rgb(194, 192, 192), rgb(195, 195, 202))
}

li{
    list-style-type: none;
}

header {
    height: 300px;
    background-image: url("https://media.dnd.wizards.com/styles/story_banner/public/images/head-banner/G30FYHMw8D_0.jpg");
}
.header {
    display: flex;
    align-items: center;
    font-size: 56px;
    font-family: sans-serif;
    color: white;
}
#header-title {
    margin-left: 75px;
    background-color: transparent;
}
.character-container {
    display: flex;
    height: 400px;
}
.left-text {
    margin-left: 20px;
    width: 66%;
}
.right-text {
    margin-left: 20px;
    margin-top: 20px;
    width: 66%;
}
.name{
    margin-top: 50px;
}
.bio {
    margin-top: 10px;
    margin-right: 10px;
}
.lenora-img {
    background-image: url("./imgs/Lenora_Thumbnail");
    background-size: cover;
    background-repeat: no-repeat;
    width: 34%;
    border-radius: 20px;
    box-shadow: gray 3px 3px 3px;
    margin-right: 5px;
}
.dillion-img {
    width:34%;
    background-image: url("./imgs/Dillion_Thumbnail.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: gray 3px 3px 3px;
    margin-left: 5px;
}

.talathor-img {
    background-image: url("./imgs/Talathor_thumbnail");
    background-size: cover;
    background-repeat: no-repeat;
    width: 34%;
    border-radius: 20px;
    box-shadow: gray 3px 3px 3px;
    margin-right: 5px;
}
.sirmos-img {
    background-image: url("https://i.pinimg.com/originals/08/6a/24/086a249c1988e060c6652f85bf24af0e.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 34%;
    border-radius: 20px;
    box-shadow: gray 3px 3px 3px;
    margin-left: 5px;
}
.kai-img{
    background-image: url("https://64.media.tumblr.com/ae0a5e8c839df125ee071915dac078ce/tumblr_psn0xbKVM41s3hp12o1_400.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 34%;
    border-radius: 20px;
    box-shadow: gray 3px 3px 3px; 
    margin-right: 5px;
}
.footer{
    height: 20px;
}